.toolbar-filters {
  margin-top: 10px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  box-sizing: border-box;

  flex-wrap: nowrap;
}

.filters-left {
  display: flex;
  align-items: center;
  gap: 12px;

  flex: 1;
  min-width: 0;
}

.filters-left .filter {
  flex-shrink: 0;
}

.filters-left .filter-long {
  width: 30em !important;
}

.filters-right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.status-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.status-circle.pending {
  background-color: #ef4444;
}

.status-circle.inprogress {
  background-color: #22c55e;
}

.status-circle.done {
  background-color: #3b82f6;
}

.status-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snackbar-error {
  background-color: #ef4444;
  color: white;
}

table .mat-mdc-header-cell {
  text-align: center !important;
}

table .mat-mdc-header-cell,
table .mat-mdc-cell {
  border-right: 1px solid #cbccce;
}

table .mat-mdc-header-cell:last-child,
table .mat-mdc-cell:last-child {
  border-right: none;
}