<div class="toolbar-filters">

  <div class="filters-left">

    <mat-form-field appearance="outline" class="filter">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onStatusFilterChange()">
        <mat-option value="">All</mat-option>
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="InProgress">InProgress</mat-option>
        <mat-option value="Done">Done</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-long">
      <mat-label>User</mat-label>
      <mat-select [(ngModel)]="selectedUserId" (selectionChange)="onStatusFilterChange()">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.name }} ({{ user.email }})
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="filters-right">
    <button mat-raised-button color="primary" (click)="goToTaskCreate()">
      New Task
    </button>
  </div>

</div>

<table mat-table [dataSource]="tasks" class="mat-elevation-z8">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let task">{{ task.title }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let task">
      <div class="status-cell">
        <span class="status-circle" matTooltip="{{ task.status }}" [ngClass]="{
          'pending': task.status === 'Pending',
          'inprogress': task.status === 'InProgress',
          'done': task.status === 'Done'
          }">
        </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let task">
      {{ task.userName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="additionalData">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let task">
      {{ task.additionalData }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Actions</th>
    <td mat-cell *matCellDef="let task">

      <button mat-button style="color: #ef4444;" (click)="changeStatus(task, 1)">
        Pending
      </button>
      |
      <button mat-button style="color: #22c55e;" (click)="changeStatus(task, 2)">
        InProgress
      </button>
      |
      <button mat-button style="color: #3b82f6;" (click)="changeStatus(task, 3)">
        Done
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>