<mat-sidenav-container class="app-container">

  <!-- SIDEBAR -->
  <mat-sidenav #sidenav mode="side" opened class="sidebar">

    <div class="logo">
      <h2>Task Manager</h2>
    </div>

    <mat-nav-list>

      <a mat-list-item routerLink="/users" routerLinkActive="active">
        Users
      </a>

      <a mat-list-item routerLink="/tasks" routerLinkActive="active">
        Tasks
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <!-- MAIN -->
  <mat-sidenav-content>

    <!-- TOP BAR -->
    <mat-toolbar color="primary" class="topbar">

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>

    <!-- CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>